# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
.venv/
.ENV/

# pip environment
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
.eggs/
dist/
*.egg-info/
.installed.cfg

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings
.vscode/

# IDE files
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs and temp files
*.log
*.tmp
